.Body {
  margin: 0;
  padding: 0;
}

.project-button {
  background-color: #FF6B00;
  border: none;
  color: #fff;
}

.buttons-div {
  padding: 1vh 0;
}

.toolButton {
  background-color: #fff;
  border: solid grey 1px;
  font-size: 1.2rem;
  margin: 0.5vh 0.5vh;
}