.Header {
  background-color: #3e3c3c;
  color: #fff;
  height: 6vh;
  margin: 0;
}

.header-left h1 {
  font-size: 1.7rem;
  margin-bottom: 0;
}

.header-right-mobile-button {
  background: none;
  border: none;
  color: #fff;
}

.hidden-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
}

.hidden-link:focus,
.hidden-link:hover  {
  color: #fff;
}

#hidden-mobile-div {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3e3c3c;
  text-align: center;
  height: 100%;
  z-index: 9999999;
  padding-top: 35vh;
  display: none;
}