.ProjectBottom {
  margin-top: 3vh;
}

.projectOne {
  background:linear-gradient( #1c1a19dc 100%, rgba(0, 0, 0, 0.5)100%),url("../assets/images/restaurants.png");
  background-position: start;
}

.projectTwo {
  background:linear-gradient( #1c1a19dc 100%, rgba(0, 0, 0, 0.5)100%),url("../assets/images/covid-app.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: start;
}

.projectThree {
  background:linear-gradient( #1c1a19dc 100%, rgba(0, 0, 0, 0.5)100%),url("../assets/images/math-magician.png");
  background-position: end;
  background-size: cover;
}

.projectFour {
  background:linear-gradient( #1c1a19dc 100%, rgba(0, 0, 0, 0.5)100%),url("../assets/images/space.png");
  background-size: cover;
  background-position: start;
}
