/* Max Width */
@media (max-width: 767.98px) {
  .header-right {
    display: none;
  }

  .header-left {
    justify-content: start;
    padding-left: 2vh;
  }

  .header-right-mobile {
    display: flex;
    font-size: 1.8rem;
  }

  .Hidden-menu-mobile {
    display: block;
    z-index: 1;
  }

  .text-top-section {
    height: 60%;
  }

  .links-column {
    padding-top: 15px;
    height: 40%;
  }

  .links-column-links {
    padding: 0 5px;
    font-size: 1.5rem;
  }

  .TopSection {
    padding-left: 15px;
  }

  .text-top-section h3 {
    font-size: 2.6rem;
    color: #ff6b00;
  }

  .header-right a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    padding-left: 3vh;
  }

  .ProjectContainer {
    padding: 1vh;
  }

  .project-button {
    font-size: 1.3rem;
    padding: 1vh 1.8vh;
  }
}

/* Min Width */

@media (min-width: 320px) {
  .projectOne,
  .projectTwo,
  .projectThree,
  .projectFour {
    max-width: 35vh;
    height: 45vh;
    margin: auto;
    margin-bottom: 2.5vh;
  }

  .project-title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .buttons-div-component {
    margin: 0;
    padding: 0;
  }

  .info-title {
    color: #ff6b00;
    font-size: 2.4rem;
    font-weight: 700;
  }

  .resume-button {
    text-align: center;
    font-size: 1.3rem;
    padding: 1vh 1.8vh;
  }

  .InfoBottom {
    display: flex;
    flex-direction: column;
  }

  .info-bottom-column {
    display: flex;
    flex-direction: column;
  }

  .ContactText {
    font-size: 1.7rem;
    font-weight: 900;
  }

  .info-bottom-column h3 {
    font-size: 1.5rem;
  }

  .info-bottom-column p {
    font-size: 1.2rem;
    padding-bottom: 2vh;
  }

  .ContactContainer {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .links-column-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vh;
  }
}

@media (min-width: 375px) {
  .projectOne,
  .projectTwo,
  .projectThree,
  .projectFour {
    max-width: 35vh;
    height: 45vh;
    margin: auto;
    margin-bottom: 2.5vh;
  }

  .project-title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .buttons-div-component {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 576px) {
  .text-top-section {
    padding-left: 3vh;
  }

  .links-column-links {
    transition: all 0.2s ease-in-out;
  }

  .links-column-links:hover {
    transform: scale(1.3);
    color: #fff;
  }

  .info-text {
    text-align: start;
  }

  .info-title {
    color: #ff6b00;
    font-size: 2.4rem;
    text-align: start;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .header-left {
    justify-content: center;
    padding-left: 8vh;
  }

  .header-right-mobile {
    display: none;
  }

  .Hidden-menu-mobile {
    display: none;
    z-index: 3;
  }

  .links-column {
    height: 100%;
  }

  .text-top-section h3 {
    font-size: 2.6rem;
    color: #ff6b00;
  }

  .header-right a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    padding-left: 3vh;
  }

  .ProjectContainer {
    padding: 6vh 1vh;
  }

  .upper-section-project h2 {
    font-size: 1.8rem;
    border-top: #091e42;
    display: flex;
    align-items: center;
  }

  .upper-section-project h2::after {
    content: '';
    flex: 1;
    margin-left: 1rem;
    height: 2px;
    background-color: #000;
  }

  .project-button {
    font-size: 1.3rem;
    padding: 1vh 1.8vh;
  }

  .resume-button {
    font-size: 1.3rem;
    padding: 1vh 1.8vh;
  }

  .projectOne,
  .projectTwo,
  .projectThree,
  .projectFour {
    max-width: 35vh;
    height: 45vh;
    margin: auto;
    margin-bottom: 2.5vh;
  }

  .project-title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .buttons-div-component {
    margin: 0;
    padding: 0;
  }

  .ContactContainer,
  .InfoContainer {
    padding: 0 8vh;
  }

  .InfoBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .ContactText {
    font-size: 1.9rem;
    font-weight: 900;
  }

  .info-bottom-column h3 {
    font-size: 1.6rem;
  }

  .info-bottom-column p {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .description-text-2 strong {
    font-size: 1.4rem;
  }

  .description-text-3 {
    font-size: 1.3rem;
  }

  .text-top-section {
    padding-left: 3vh;
  }

  .head-project {
    display: flex;
  }

  .projectOne,
  .projectTwo,
  .projectThree,
  .projectFour {
    max-width: 35vh;
    height: 45vh;
    margin: auto;
    padding-top: 0;
    margin-bottom: 2.5vh;
  }

  .project-title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .buttons-div-component {
    margin: 0;
    padding: 0;
  }

  .info-text {
    font-size: 1.4rem;
  }

  .ContactContainer,
  .InfoContainer {
    padding: 0 10vh;
  }

  .info-bottom-column h3 {
    font-size: 1.8rem;
  }

  .info-bottom-column p {
    font-size: 1.6rem;
  }

  .links-column-links-footer {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .description-text-2 strong {
    font-size: 1.7rem;
  }

  .description-text-3 {
    font-size: 1.5rem;
  }

  .text-top-section {
    padding-left: 3vh;
  }

  .text-top-section h3 {
    font-size: 3.5rem;
    color: #ff6b00;
  }

  .ProjectContainer {
    padding: 6vh;
  }

  .upper-section-project h2 {
    font-size: 3rem;
  }

  .project-title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .buttons-div-component {
    margin: 0;
    padding: 0;
  }

  .InfoBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
  }
}

@media (min-width: 1400px) {
  .projectOne,
  .projectTwo,
  .projectThree,
  .projectFour {
    max-width: 50vh;
    height: 60vh;
    margin: auto;
    padding-top: 15vh;
    margin-bottom: 2.5vh;
  }

  .project-title {
    font-size: 1.9rem;
    font-weight: 700;
  }

  .buttons-div-component {
    margin: 0;
    padding: 0;
  }

  .info-text {
    font-size: 1.7rem;
  }

  .ContactText,
  .info-bottom-column h3 {
    font-size: 2.2rem;
  }

  .info-bottom-column p {
    font-size: 1.9rem;
  }

  .inner-content {
    font-size: 1.5rem;
  }
}
