@media (max-width: 575.98px) {
  #main-top {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #figure-main-top-div {
    padding-top: 20px;
  }

  .project-text {
    color: #333D51;
    font-size: 1em;
  }

  #mail-button:hover {
    transform: scale(1.1);
  }

}

@media (max-width: 767.98px) {
  header{
    height: 50px;
  }

  #header-title {
    padding-top: 8px;
    padding-left: 0px;
  }
  
  #link-header-desktop {
    display: none;
  }

  #link-header-mobile {
    display: block;
    position: fixed;
    right: 35px;
  }

  #header-link-mail-name {
    display: none;
  }

  .header-link {
    font-size: 2em;
  }

  #link-icon-mobile {
    font-size: 2.5em;
    font-weight: bolder;
    text-decoration: none;
    color: whitesmoke;
  }
  
  #hide-img-skills {
    display: none;
  }


}

@media (max-width: 991.98px) {
  #text-top {
    font-size: 2em;
  }

  #header-title {
    padding-top: 10px;
    padding-left: 5px;
  }

  #title-text-main-top {
    transition: all 1s;
    font-size: 2.3em;
  }

  .header-link {
    padding-top: 10px;
  }

  .project-container {
    flex-flow: column;
  }

  .project-image {
    padding-top: 15px;
  }

  .text-project-div {
    padding-bottom: 0px;
  }

 
}

@media (max-width: 1199.98px) {
  #project-container {
    width: 90%;
    margin: auto;
  }

  #header-title {
    padding-top: 8px;
    padding-left: 5px;
  }

  .features-text {
    max-width: 80%;
  }
}


/* media with min */



@media (min-width: 768px) {

  #header-link-mail {
    display: none;
  }

  .header-link {
    padding-top: 10px;
  }
}

@media (min-width: 1199.98px) {
  #contact-text-title,
  #contact-text {
    padding-left: 30%;
  }

  #mail-button {
    margin-left: 15%;
  }
}

@media (min-width: 1450px) {
  main {
  padding-top: 150px;
  }

  #header-link-mail {
    width: 200px;
    font-size: 45px;
  }

  #text-top,
  #skills-text,
  .project-text,
  .header-link {
    font-size: 1.7rem;
  }

  #title-text-main-top,
  #projects-main-title-h3,
  #skills-title,
  #contact-title,
  .project-title {
    font-size: 4rem;
  }

  .features-text { 
    max-width: 800px;
  }

  .text-features {
    font-size: 2rem;
  }

  .header-link {
    padding-bottom: 10px;
  }

  
}
