@media (max-width: 575.98px) {
  #header-title {
    padding-top: 10px;
  }

  #main-top {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #main-top-image {
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 767.98px) {
  header{
    height: 6vh;
  }
  
  #header-title {
    text-align: center;
    padding-right: 10vh;
  }
  
  #link-header-desktop {
    display: none;
  }

  #link-header-mobile {
    display: block;
    position: fixed;
    top: -20;
    right: 15px;
  }

  .header-link {
    font-size: 1em;
  }

  #link-icon-mobile {
    font-size: 2.5em;
    font-weight: bolder;
    text-decoration: none;
    color: whitesmoke;
  }
}

@media (max-width: 991.98px) {
  
 
}

@media (max-width: 1199.98px) {

}

@media (max-width: 1399.98px) {

}