body {
  margin: 0;
  border: 0;
}

header{
  border: 1px solid red;
  background-color: black;
  height: 7vh;
  width: 100%;
  position: fixed;
  top: 0;
}

#link-header-desktop {
  display: contents;
  position: fixed;
  top: 0;
  right: 0;
}

#header-title {
  padding-top: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: goldenrod;
}

.header-link {
  font-size: 1.3em;
  font-weight: bold;;
  text-decoration: none;
  color: aliceblue;
  transition: all 1s;
}

.header-link:hover {
  transform: scale(1.3);
  transition: all 1s;
  color: goldenrod;
}