body {
  margin: 0;
  border: 0;
}

header{
  background-color: black;
  height: 7vh;
  width: 100%;
  position: fixed;
  top: 0;
}

main {
  background-color: rgb(112, 34, 177);
  height: 100%;
  width: 100%;
  min-height: 858px;
  padding-top: 90px;
  padding-bottom: 30px;
}

#link-header-desktop {
  display: contents;
  position: fixed;
  top: 0;
  right: 0;
}

#link-header-mobile {
  display:none;
}

#header-title {
  padding-top: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: goldenrod;
}

#header-hidden-mobile {
  display: none;
  position: absolute;
  overflow: scroll;
  width: 100%;
  min-height: 1024px;
  background-color: rgba(0, 0, 255, 0.39);
}

#hidden-link-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

#main-top {
  min-height: 600px;
  width: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#main-text-top {
  padding-left: 10%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

#main-text-top:hover {
  transition: all 1s;
  transform: scale(1.1);
}

#text-top {
  font-size: 1.6em;
}

#figure-main-top-div {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

#figure-main-top-div:hover {
  transition: all 1s;
  transform: scale(1.1);
}


#main-top-image {
  width: auto;
  height: 400px;
  transition: all 1s;
}

#title-text-main-top {
  transition: all 1s;
}

#title-text-main-top:hover {
  transition: all 1s;
  transform: scale(1.5);
}

.links-hidden {
  padding-top: 5vh;
  font-size: 2em;
  text-decoration: none;
  font-weight: bolder;
  transition: all 1s;
  color: darkblue;
}

.links-hidden:hover {
  transition: all 1s;
  transform: scale(1.1);
  color: black;
  text-decoration: underline;
}

.header-link {
  font-size: 1.3em;
  font-weight: bold;;
  text-decoration: none;
  color: aliceblue;
  transition: all 1s;
}

.header-link:hover {
  transform: scale(1.3);
  transition: all 1s;
  color: goldenrod;
}